In [ ]:
!pip install yfinance

In [1]:
import yfinance as yf
import pandas as pd
import datetime
import matplotlib.pyplot as plt
import mplfinance as mpf

In [2]:
stock_id = "2330.tw"
end = datetime.date.today()
start = end - datetime.timedelta(days=180)
df = yf.download(stock_id, start=start, end=end).reset_index()

[*********************100%%**********************]  1 of 1 completed

In [3]:
# SMA
df['5_SMA'] = df['Close'].rolling(window=5).mean()
df['15_SMA'] = df['Close'].rolling(window=15).mean()
df['22_SMA'] = df['Close'].rolling(window=22).mean()

In [4]:
# RSI
df['Change'] = df['Close'] - df['Close'].shift(1)
df['Gain'] = df['Change'].apply(lambda x: x if x > 0 else 0)
df['Loss'] = df['Change'].apply(lambda x: abs(x) if x < 0 else 0)
df['Avg Gain'] = df['Gain'].rolling(window=14).mean()

df['Avg Loss'] = df['Loss'].rolling(window=14).mean()
df['RS'] = df['Avg Gain'] / df['Avg Loss']
df['RSI'] = 100 - (100 / (1 + df['RS']))

In [5]:
# MACD
df['EMA_8'] = df['Close'].ewm(span=8, adjust=False).mean()
df['EMA_13'] = df['Close'].ewm(span=13, adjust=False).mean()
df['MACD'] = df['EMA_8'] - df['EMA_13']

In [6]:
df.tail()

,Date,Open,High,Low,Close,Adj Close,Volume,5_SMA,15_SMA,22_SMA,Change,Gain,Loss,Avg Gain,Avg Loss,RS,RSI,EMA_8,EMA_13,MACD
117,2024-09-25,1000.0,1005.0,998.0,1005.0,1005.0,39405222,980.4,939.333333,941.863636,18.0,18.0,0.0,10.285714,2.000000,5.142857,83.720930,970.432675,959.338470,11.094204
118,2024-09-26,1010.0,1015.0,1005.0,1015.0,1015.0,38321585,991.4,947.733333,944.818182,10.0,10.0,0.0,10.071429,2.000000,5.035714,83.431953,980.336525,967.290117,13.046407
119,2024-09-27,1020.0,1025.0,1000.0,1000.0,1000.0,35783779,996.8,954.266667,947.454545,-15.0,0.0,15.0,8.928571,3.071429,2.906977,74.404762,984.706186,971.962958,12.743228
120,2024-09-30,978.0,990.0,957.0,957.0,957.0,61603217,992.8,956.866667,947.136364,-43.0,0.0,43.0,8.928571,4.785714,1.865672,65.104167,978.549256,969.825392,8.723863
121,2024-10-01,967.0,977.0,967.0,972.0,972.0,26760355,989.8,961.733333,948.454545,15.0,15.0,0.0,9.642857,4.785714,2.014925,66.831683,977.093866,970.136051,6.957815